<div id="quiz-wrapper">
  <div class="quiz-container">
    <div class="quiz-title-container">
      <div>
        <p>Add cards to you album answering the question</p>
        <h1><%= @quiz.question %></h1>
      </div>
      <div>
        <div id="quiz-result-message">
        </div>
        <% @quiz.quiz_answers.each do |answer| %>
          <div class="quiz-buttons-container"
              data-controller="quiz"
              data-action="click->quiz#checkResult"
              data-quiz-target="button"
              data-quiz-correct-value="<%= answer.correct ? 'correct' : 'wrong'%>">
            <a class="quiz-button-lg" href="#"><%= answer.text %></a>
          </div>
        <% end %>
        <div>
          <%= link_to 'Try again', quiz_path(3), id: "quiz-try-again" %>
        </div>


      </div>

  </div>
</div>
