// Define variables for your color scheme

// For example:

$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// NBA colors - change in the albums controller (show) too if the hash is changed
$red: #C8102E;
$blue: #1D428A;
$gold: #BA9752;
