// most of the code is the same as used in "contact_us.scss"
.abt {
    color: rgb(89, 191, 224);
}

.about-us-background {
    // height: 100%;
    height: 80vh;
    background-image: url("https://images.unsplash.com/photo-1543633550-f431af584afd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-size: cover;
    padding: 0 24px;
}