#albums-background {
    // height: 100%;
    height: 670px;
    // background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1542652694-40abf526446e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&w=1000&q=80");
    // background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://media.istockphoto.com/photos/close-up-view-of-a-basketball-court-with-wooden-floor-and-spotlights-picture-id1195685791?b=1&k=20&m=1195685791&s=170667a&w=0&h=-Dh_NHGhp0rmwrf-W292TiUhIDj-huTeQso_j8poDo8=");
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://media.istockphoto.com/photos/interior-view-of-an-illuminated-basketball-stadium-for-a-game-picture-id1306357558?b=1&k=20&m=1306357558&s=170667a&w=0&h=P_UxEO4qOY8GD81SVMhEqZ3LrcAVITlBeZ8aF0pRTX0=");
    // background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../../images/basketball_gym_bw.jpeg");
    background-position: center;
    background-size: cover;
    padding: 0 24px;
}

.album-container {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    text-decoration: none;
    border-radius: 5px 5px 0 0;
}

.albums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    // grid-gap: 24px;
    // height: 200px;
    padding: 24px 0;
    justify-content: space-evenly;
}

.album-image {
    width: 296px;
    height: 350px;
    background-position: center;
    background-size: cover;
    // background-image: url("https://image.cnbcfm.com/api/v1/image/106498863-1587478459689michaeljordan.jpg?v=1587478546");
    // border: 2px solid rgb(222, 222, 222);
    border-radius: 5px 5px 0 0;
    border: 2px solid rgb(29, 66, 138);
    border-bottom: unset;
}

// .album-image-size {
//     height: 350px;
//     background-position: center;
//     background-size: cover;
//     // border-radius: 5px 5px 0 0;
//     // border: 2px solid rgb(29, 66, 138);
//     // border-bottom: unset;
// }
.album-basic-info {
    text-align: center;
    text-justify: center;
    background-color: rgb(222, 222, 222);
    // background-color: lightgray;
    border: 2px solid rgb(29, 66, 138);
    border-top: unset;
    h2 {
        font-size: 28px;
        color: black;
    }
    p {
        font-size: 22px;
        color: rgb(29, 66, 138);
    }
}

.album-link {
    text-decoration: none;
}

// to set a margin between the navbar and the header
// #albums-background h2 {
//     margin-top: 40px;
// }
// .albums-header {
//     margin-top: 40px;
// }
.no-albums-header {
    padding-top: 70px;
}