// start slider navbar

.slide1 {
  width: 99vw !important;
  object-fit: cover;



}

.slider {
  overflow: hidden; /*prevents text overflowing boundaries*/
  height: auto;
  margin: auto; /*centres slide show*/


}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}



.slide-container {
    width: 100%;
    margin: 0;
}

.text h2 {

  color: #FFFFFF;
  position: relative;
  bottom: 576px;
  font-family: 'Inter';
  font-style: normal;
  left: 50px;
  height: 60px;
  width: 750px;
}

.text {
  height: 0;
}

.text h1 {
color: #FFFFFF;
position: relative;
bottom: 761px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
left: 50px;
}

.viewing-album-button {

  top: 558px;
  font-weight: bold;
  position: absolute;
  left: 50px;

  a {
    background-color: $red;
    padding: 20px 5vw;
    text-decoration: none;
    color: white;
    transition: background-color ease 0.5s;

    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
   outline: none;
  }
  a:hover{
    color: white;
    background-color: $gold;
  }

}

a:link {
    text-decoration: underline;
    text-decoration: none;
}
