// start slider navbar
.slide1 {
    width: 99vw !important;
    object-fit: cover;
}

.slider {
    overflow: hidden;
    /*prevents text overflowing boundaries*/
    height: auto;
    margin: auto;
    /*centres slide show*/
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.slide-container {
    width: 100%;
    margin: 0;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  padding-bottom: 50px;
  color: white;

  a {
    background-color: $red;
    text-decoration: none;
    padding: 10px 18px;
    margin-top: 30px;
    display: block;
    color: white;
    text-align: center;
    width: 50%;
    font-weight: bold;
    transition: background-color ease 0.5s;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;

  }

  a:hover {
    color: white;
    background-color: $gold;
  }
}
