#pack-background {
  height: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://www.wallpaperup.com/uploads/wallpapers/2016/06/14/983466/0be2115ea2b28a92c5fb198b29fce6a1-1000.jpg");
  background-position: center;
  background-size: cover;
  padding: 0 24px;
}

.pack-season{
  color: white;
  padding-top: 24px;
  h2 {
    font-size: 70px;
  }
}


.pack-container{
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.pack-cards {
  max-width: 1200px; //max width of laptop so it has 3 on 1 row and 2 on the next
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 100px;
  padding: 24px 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

// .pack-hidden {
//   height: 250px;
//   background-position: center;
//   background-size: cover;
//   background-image: url("https://1000logos.net/wp-content/uploads/2017/04/Logo-NBA-1024x640.png");
//   border: 2px solid $gold;
//   border-radius: 5px 5px 0 0;
// }

// .pack-shown {
//   height: 250px;
//   background-position: center;
//   background-size: cover;
//   border: 2px solid $gold;
//   border-radius: 5px 5px 0 0;
// }


// .card is in _viewing_album
// .card-basic-info is in _viewing_album BUT the .pack-info (below) is changing the p color

.pack-info {
  color: $gold !important;
}

// This is very similar to .viewing-album-to-quiz-button is in _viewing_album (this has a set background color and won't switch like the album one)
.pack-to-viewing-album-button{
  color: white;
  padding: 8px 32px;
  margin-bottom: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  a {
      background-color: $red;
      padding: 10px 18vw;
      text-decoration: none;
      color: white;
      transition: background-color ease 0.5s;
  }
  a:hover {
      color: white;
      background-color: $gold;
    }
}


.pack-more-button {
  color: white;
  padding: 8px 32px;
  margin-bottom: -60px; // to get the button inline with the confirm button
  font-weight: bold;
  display: flex;
  justify-content: start;
  a {
    background-color: $blue;
    padding: 10px 3vw;
    text-decoration: none;
    color: white;
    transition: background-color ease 0.5s;
  }
  a:hover{
    color: white;
    background-color: $gold;
  }
}



#switcher {
  position:relative;
  height: 250px;
  border: 2px solid $gold;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  img{
    position:absolute;
    transition: opacity 1s ease-in-out;
    max-height: 100%;
    bottom: 0;
  }
  .top{
    z-index: 10;
    // height: 210px;
    left: -21%;
  }
  .bottom{
    z-index: 9;
    opacity: 0;
    left: -12%;
  }
}

@keyframes topSwitcherFadeInOut {
  0% {
  opacity:1;
  }
  100% {
  opacity:0;
  }
}

#switcher img.top {
  animation-name: topSwitcherFadeInOut;
  transition-timing-function: linear;
  animation-delay: 2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes bottomSwitcherFadeInOut {
  0% {
  opacity:0;
  }
  100% {
  opacity:1;
  }
}

#switcher img.bottom {
  animation-name: bottomSwitcherFadeInOut;
  transition-timing-function: linear;
  animation-delay: 2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  }
