#quiz-wrapper {
    // background-color: black;
    height: 100vh;
    // height: 100vh;
    color: white;
    // background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url("space-jam-quiz.png") no-repeat center center fixed;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("basketball_gym_bw.png");
    // background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.5));
    // background: rgb(2, 0, 36);
    // background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    // background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    //   url("space-jam-quiz.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.quiz-container {
    margin: auto;
    width: 60%;
    // height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding-top: 2vh;
    // color: black;
}

// .quiz-container {
//     margin: auto;
//     width: 70%;
//     height: auto;
//     padding: 10px;
//     display: flex;
//     flex-direction: column;
//     padding-top: 60px;
//     // color: black;
// }
#quiz-result-message {
    padding: 30px;
    font-size: 26px;
    color: white;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    background-color: white;
    display: none;
    width: 60%;
}

.quiz-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    column-gap: 20px;
    // margin-left: 50px;
    margin-top: 30px;
    align-items: center;
    background-color: $gold;
    border: 0.5px solid rgb(0, 0, 0);
    width: 60%;
    .quiz-button-lg {
        text-decoration: none;
        display: block;
        width: 100%;
        color: white;
        text-align: center;
        padding: 10px;
        // border-radius: 5px;
        font-weight: 500;
        box-shadow: 3px 3px 3px black;
        font-size: 1.5rem;
    }
}

.quiz-link-to {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: -webkit-fill-available;
    // width: 100%;
}

.quiz-link-to a {
    padding: 8px 32px;
    text-decoration: none;
    display: block;
    width: 60%;
    color: white;
    text-align: center;
    display: none;
    transition: background-color ease 0.5s;
    background-color: $blue;
    // background-color: $red;
    &:hover {
        background-color: white;
        color: $blue;
    }
}


.text-width-quiz {
    // box-sizing: 60%;
    text-align: center;
    width: 60%;
    color: white;
}
