#quiz-wrapper {
  background-color: black;
  height: 100vh;
  color: white;
  // background-image: url("paper.gif");
}

.quiz-container {
  margin: auto;
  width: 70%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  // color: black;
}

#quiz-result-message {
  font-size: 26px;
  color: lightgray;
}

.quiz-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  column-gap: 20px;
  margin-left: 50px;
  margin-top: 30px;
  align-items: center;
  background-color: #ba9752;

  .quiz-button-lg{

    text-decoration: none;
    display: block;
    width: 100%;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
}

#quiz-try-again {
  text-decoration: none;
  display: block;
  width: 50%;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: lightgrey;
  margin-top: 70px;
  margin-left: 170px;
}
