// All of the $blue and $red colors have been commented out as they are now being switched between eachother from page to page
// To see this - look in the albums_controller.rb#show  with the @color instance
// And @color is being used in the albums/show.html.erb page

// Also the images commented out were placeholders - probably can be removed now
// Maybe add a default image if the scrapping of player.image doesnt work

#viewing-album-background {
    height: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1542652694-40abf526446e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&w=1000&q=80");
    background-position: center;
    background-size: cover;
    padding: 0 24px;
    position: relative;
}

.viewing-album-season {
    color: white;
    padding: 16px 0;
    h3 {
        font-size: 22px;
    }
}

.viewing-album-team {
    color: white;
    margin-top: -25px;
    h2 {
        font-size: 70px;
    }
}

.album-cards-container {
    display: flex;
    justify-content: center;
    padding: 32px 0;
}

.album-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px 100px;
    padding: 24px 0;
    justify-content: space-evenly;
}

.card-image-hidden {
    height: 250px;
    background-position: center;
    background-size: cover;
    // remove the line below if want darked player image back (and un comment line 20 in albums#show)
    background-image: url("https://1000logos.net/wp-content/uploads/2017/04/Logo-NBA-1024x640.png");
    // border: 2px solid $red;
    border-radius: 5px 5px 0 0;
}

.card-image-shown {
    height: 250px;
    background-position: center;
    background-size: cover;
    // border: 2px solid $red;
    border-radius: 5px 5px 0 0;
}

.card {
    position: relative;
    height: 310px;
    // height: 340px;
    width: 280px;
    border: none !important;
    border-radius: 5px;
}

.card-basic-info {
    text-align: center;
    text-justify: center;
    margin: 8px 0 -8px 0;
    h2 {
        font-size: 28px;
    }
    p {
        font-size: 22px;
        // color: $red;
    }
    .card-count {
        position: absolute;
        right: -10px;
        top: -20px;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        // background-color: $red;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.viewing-album-to-quiz-button{
  color: white;
  padding: 8px 32px;
  margin-bottom: 32px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  a {
      // background-color: $red;
      padding: 10px 25vw;
      text-decoration: none;
      color: white;
      transition: background-color ease 0.5s;
  }
  a:hover {
      color: white;
      background-color: $gold;
    }
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  // border-right: 32px solid $red;
  position: absolute;
  top: 50%;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  // border-left: 32px solid $red;
  position: absolute;
  top: 50%;
  right: 24px;
}

.card-stats-details-container {
  background: black;
  color: white;
  position: absolute;
  width: 100%;
  height: 74%;
  text-align: center;
  bottom: 0px;
  bottom: 90px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: none;

  div {
    padding: 12.7px;
  }

  .card-stats-details {
    border-bottom: 0.2px $gold solid;
  }
}

.card-image-shown:hover {
  border: none !important;
  .card-stats-details-container{
    display: block;
  }
}
