<div class="footer">
        <div>
          <ul class="footer-list">
            <a href="/contact_us" class="pages-link"><li>Contact Us</li></a>
            <a href="/about_us" class="pages-link"><li>About Us</li></a>
          </ul>
        </div>
        <div class="footer-links">
          <a href="https://www.pinterest.com/" target="_blank"><i class="fab fa-pinterest"></i></a>
          <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://en-gb.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://uk.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="footer-copyright">
          NBA Digital Album <sup>TM</sup>
        </div>
      </div>
    </div>
