<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://c4.wallpaperflare.com/wallpaper/438/695/801/leonardo-da-vinci-vitruvian-man-artwork-collage-wallpaper-preview.jpg);"> %>
<div class="about-us-background">
  <div class="container">
    <h1>About Us</h1>
    <p>Florian, James, Sergio and Luke all did a thing!</p>
    <p> They made an NBA Digital Album <i class="fa-solid fa-basketball abt"></i> accessable to the world <i class="fa-solid fa-earth-americas abt"></i>... kind of! <i class="fa-regular fa-face-smile abt"></i> </a></p>
  </div>
</div>
