<%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1547826039-bfc35e0f1ea8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTJ8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);"> %>
<div class="contact-us-background">
  <div class="container">
    <h1>Contact Us</h1>
    <p>Email Us: <a href="mailto: Sergio@Florian.James" id="email">Sergio@Florian.James</a></p>
    <p>Call Us: +1 1619 999 91269</p>
    <p> Open Between: 4pm-5pm (UCT) <small>(Tuesdays and Thursdays Only)</small></p>
  </div>
</div>
