<div style="position: relative;">
  <div class="slider">
    <div class="slide-container">
      <%= image_tag "landing1.png", :class => "slide1" %>
    </div>
  </div>
  <div class="landing-text">
    <h1>Welcome to NBA Digital Albums ...</h1>
    <h2>A place to store your digital NBA collections</h2>
    <%=link_to "Click to view your Albums!", albums_path%>
  </div>
</div>
