body {
    margin: 0px !important;
}

.page-container {
    display: grid;
    // min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.footer {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: white;
    font-size: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: white;
        opacity: 0.3;
    }
    a:hover {
        opacity: 1;
        color: rgb(89, 191, 224);
        font-size: 14px;
    }
    ul {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: white;
        opacity: 0.3;
    }
    a:hover {
        opacity: 1;
        color: $blue;
        font-size: 14px;
    }
}

.footer-links {
    display: flex;
    align-items: center;
    a {
        color: white;
        opacity: 0.15;
        text-decoration: none;
        font-size: 24px;
        padding: 0px 10px;
    }
    a:hover {
        opacity: 1;
        color: $red;
        font-size: 28px;
    }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .footer {
        font-size: 10px;
        a:hover {
            opacity: 1;
            color: $blue;
            font-size: 11px;
        }
    }
    .footer-links {
        display: flex;
        align-items: center;
        a {
            font-size: 18px;
        }
        a:hover {
            font-size: 20px;
        }
    }
}

// keeping the footer at bottom of page (when grid present?)
.wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}