// wrapper for the flexbox in the navbar
#wrapper {
    width: 100%;
    height: 150px;
    background-color: black;
    // background-color: rgb(51, 58, 58);
}

// flexbox for the navbar elements
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    margin-right: 20px;
    margin-left: 20px;
}